<h1>Addition</h1>

<form action="/wizard_add">
  <div>
  <label for="Add this:">Add this:</label>
  <input type="text" id="Add this:" name="first_num">
  </div>
<div>
  <label for="to this:">to this:</label>
  <input type="text" id="to this:" name="second_num">
</div>
<button>Add!</button>

</form>