<h1>Add Numbers</h1>

<form action="/wizard_add">
<label>First Number:</label>
<input type="text" name="first_num">

<label>Second Number:</label>
<input type="text" name="second_num">

<button>Add!</button>

</form>