<h1>Multiplication</h1>

<form action="/wizard_multiply">
<label for="Multiply this:">Multiply this:</label>
<input type="text" id="Multiply this:" name="first_num">

<label for="by this:">by this:</label>
<input type="text" id="by this:" name="second_num">

<button>Multiply!</button>

</form>