<h1>Subtraction</h1>

<form action="/wizard_subtract">
  <label for="Subtract this:">Subtract this:</label>
  <input type="text" id="Subtract this:" name="first_num">

<label for="from this:">from this:</label>
<input type="text" id="from this:" name="second_num">

<button>Subtract!</button>

</form>